In [1]:
import pandas as pd
import seaborn as sb
import csv
from sympy import FiniteSet

#import pysam
import os
import math
import random
import numpy as np

from pathlib import Path
from random import seed
from random import randint

In [2]:

def powerset(fullset):
  listsub = list(fullset)
  subsets = []
  for i in range(2**len(listsub)):
    subset = []
    for k in range(len(listsub)):            
      if i & 1<<k:
        subset.append(listsub[k])
    subsets.append(subset)        
  return subsets

In [3]:
def Sy(dic,X):
    dict_items=dic.items()
    i=1
    for k in X:
        myValue=k
        globals()["Y{}".format(i)] =[key for key,value in dict_items if value==myValue]
        mykey=[key for key,value in dict_items if value==myValue]
        i+=1
    return Y1,Y2,Y3,Y4,Y5,Y6,Y7

In [5]:
def depth_Y2(conjunto,A):
    m=len(A)
    if os.stat(ruta_depth + conjunto + '-Simulados-subsp_capsici_1101_sorted.txt').st_size > 0:
        d1 = pd.read_csv(ruta_depth + conjunto + '-Simulados-subsp_capsici_1101_sorted.txt', sep='\t', header=None)
        a1=d1[2].sum()
        l1=len(d1)
        dyx1=a1/(l1)*1/m**2
    else:
        dyx1=0
    if os.stat(ruta_depth +conjunto + '-Simulados-subsp_nebraskensis_61-1_sorted.txt').st_size > 0:
        d2 = pd.read_csv(ruta_depth + conjunto + '-Simulados-subsp_nebraskensis_61-1_sorted.txt', sep='\t', header=None)
        a2=d2[2].sum()
        l2=len(d2)
        dyx2=a2/(l2)*1/m**2
    else:
        dyx2=0
    if os.stat(ruta_depth + conjunto + '-Simulados-subsp_michi_contigs_sorted.txt').st_size > 0:
        d3 = pd.read_csv(ruta_depth + conjunto + '-Simulados-subsp_michi_contigs_sorted.txt', sep='\t', header=None)
        a3=d3[2].sum()
        l3=len(d3)
        dyx3=a3/(l3)*1/m**2
    else:
        dyx3=0
    return dyx1,dyx2,dyx3

In [6]:
#calculo de profundiades previa
def depth_Y(conjunto,A):
    d1 = pd.read_csv(ruta_depth + conjunto+ '-Simulados-subsp_capsici_1101_sorted.txt', sep='\t', header=None) #importar las tablas para cada genoma
    d2 = pd.read_csv(ruta_depth + conjunto+ '-Simulados-subsp_nebraskensis_61-1_sorted.txt', sep='\t', header=None)
    d3 = pd.read_csv(ruta_depth + conjunto+ '-Simulados-subsp_michi_contigs_sorted.txt', sep='\t', header=None) 
    a1=d1[2].sum()
    a2=d1[2].sum()
    a3=d1[2].sum()
    ay=(a1+a2+a3)/3
    l1=len(d1)
    l2=len(d2)
    l3=len(d3)
    m=len(A)
    dyx1=ay/(l1)*1/m**2
    dyx2=ay/(l2)*1/m**2
    dyx3=ay/(l3)*1/m**2
    return dyx1,dyx2,dyx3

In [7]:
folder1='1TP' #nombre donde esta los genomas
#folder_bash=1TP

In [8]:
%%bash -s "$folder1"
ls clavi_select/$1/*fna

clavi_select/1TP/Clavibacter_michiganensis_subsp_michi_contigs.fna

In [ ]:
#os.makedirs('output-tda/'+folder1)
#os.makedirs('output-tda/'+folder1+'/index-bowtie')
#os.makedirs('output-tda/'+folder1+'/out-bowtie')
#os.makedirs('output-tda/'+folder1+'/bam')
#os.makedirs('output-tda/'+folder1+'/sorted')
#os.makedirs('output-tda/'+folder1+'/tablas')
#os.makedirs('output-tda/'+folder1+'/SyReads')
#os.makedirs('output-tda/'+folder1+'/sam_extract')
#os.makedirs('output-tda/'+folder1+'/depth')

In [ ]:
%%bash -s "$folder1"
source /opt/anaconda3/etc/profile.d/conda.sh
conda activate metagenomics
ls clavi_select/$1/*fna | while read line; 
do 
    id=$(echo $line| rev| cut -d'_' -f1,2,3 |rev |cut -d'.' -f1);
    bowtie2-build $line output-tda/$1/index-bowtie/$id;
    echo "$id" >>list-genomasrefencia2TP.txt
done

In [ ]:
%%bash -s "$folder1"
source /opt/anaconda3/etc/profile.d/conda.sh
conda activate metagenomics

cat list-genomasrefencia3TP.txt | while read line;
do
bowtie2 -x output-tda/3TP/index-bowtie/$line -U ReadsSimulados/reads-$1.fastq --no-unal -p 12 -S output-tda/$folder/out-bowtie/Simulados-${line}.sam
done

6000 reads; of these:
  6000 (100.00%) were unpaired; of these:
    2657 (44.28%) aligned 0 times
    3286 (54.77%) aligned exactly 1 time
    57 (0.95%) aligned >1 times
55.72% overall alignment rate
6000 reads; of these:
  6000 (100.00%) were unpaired; of these:
    1555 (25.92%) aligned 0 times
    4220 (70.33%) aligned exactly 1 time
    225 (3.75%) aligned >1 times
74.08% overall alignment rate
6000 reads; of these:
  6000 (100.00%) were unpaired; of these:
    3751 (62.52%) aligned 0 times
    2236 (37.27%) aligned exactly 1 time
    13 (0.22%) aligned >1 times
37.48% overall alignment rate

In [ ]:
%%bash -s "$folder1"
for infile in output-tda/$1/out-bowtie/*.sam
do 
	base=$(basename ${infile} .sam)
	samtools view ${infile} -o output-tda/$1/bam/${base}.bam
    samtools sort ${infile} -o output-tda/$1/sorted/${base}_sorted.sam
done

In [ ]:
%%bash -s "$folder1"
for infile in output-tda/$1/bam/*.bam
do 
	base=$(basename ${infile} .bam)
	samtools sort ${infile} -o output-tda/$1/sorted/${base}_sorted.bam
	samtools view ${infile} > output-tda/$1/bam/${base}.txt
done

In [ ]:
%%bash -s "$folder1"
cd ~/GIT/clavibacter/scripts-tda/
ls output-tda/$1/bam/*.txt | while read line
do
    base=$(basename ${line} .txt)
    cut -f 1-6 $line > output-tda/$1/tablas/${base}_extrac.txt
done

In [9]:
ruta_tablas = '/home/shaday/GIT/clavibacter/scripts-tda/output-tda/'+folder1+'/tablas/'
contenido = os.listdir(ruta_tablas)
genomes = []
df=[]
for i in contenido:
    dftt = pd.read_csv(ruta_tablas + i, sep='\t', header=None) #importar las tablas para cada genoma
    dftt['Organims']=i[16:-11] #agregar el nombre del organismo
    df.append(dftt) #agregar al dataframe
    genomes.append(i[16:-11])
    
df=pd.concat(df)
df.columns= ['Qname','Flag', 'Rname', 'Pos','MapQ','CIGAR','Organims'] #cambiar nombre a las columnas del dataframe
df

,Qname,Flag,Rname,Pos,MapQ,CIGAR,Organims
0,NZ_CP048050.1_0,0,NZ_CP048050.1,98092,42,150M,capsici_1101
1,NC_009480.1_0,0,NZ_CP048050.1,68359,42,150M,capsici_1101
2,NC_009479.1_0,0,NZ_CP048050.1,16948,42,150M,capsici_1101
3,NZ_CP048050.1_1,0,NZ_CP048050.1,93115,23,150M,capsici_1101
4,NC_009480.1_1,0,NZ_CP048050.1,48066,42,150M,capsici_1101
...,...,...,...,...,...,...,...
4443,NC_009480.1_985,0,NC_009480.1,168423,7,150M,michi_contigs
4444,NC_009478.1_985,0,NC_009480.1,3119250,42,150M,michi_contigs
4445,NZ_CP033723.2_985,0,NC_009478.1,1232,42,150M,michi_contigs
4446,NZ_CP048049.1_986,0,NC_009479.1,5287,42,150M,michi_contigs
4447,NZ_CP048050.1_986,0,NC_009478.1,8336,42,150M,michi_contigs

In [10]:
X=df['Organims'].unique().tolist()
len(X)
dic_Organisms={}
for k in range(len(X)):
    dic_Organisms[X[k]]="X{0}".format(k+1)
dic_Organisms
df2=df.replace({"Organims": dic_Organisms}) 

X2=df2['Organims'].unique().tolist() #lista de genomas 
A=powerset(X2) #conjunto potencia
A=A[1:] #eliminiamos el conjunto vacio
df2

                  Qname  Flag          Rname      Pos  MapQ CIGAR Organims
0       NZ_CP048050.1_0     0  NZ_CP048050.1    98092    42  150M       X1
1         NC_009480.1_0     0  NZ_CP048050.1    68359    42  150M       X1
2         NC_009479.1_0     0  NZ_CP048050.1    16948    42  150M       X1
3       NZ_CP048050.1_1     0  NZ_CP048050.1    93115    23  150M       X1
4         NC_009480.1_1     0  NZ_CP048050.1    48066    42  150M       X1
...                 ...   ...            ...      ...   ...   ...      ...
4443    NC_009480.1_985     0    NC_009480.1   168423     7  150M       X3
4444    NC_009478.1_985     0    NC_009480.1  3119250    42  150M       X3
4445  NZ_CP033723.2_985     0    NC_009478.1     1232    42  150M       X3
4446  NZ_CP048049.1_986     0    NC_009479.1     5287    42  150M       X3
4447  NZ_CP048050.1_986     0    NC_009478.1     8336    42  150M       X3

[9870 rows x 7 columns]

In [17]:
#df2.to_csv('CSV/MapeoReads-1TP.csv')

In [16]:
dic={}
l=0
Reads=df2['Qname'].unique().tolist()
for k in Reads:
    valores=list(df2.loc[df2.Qname==k].iloc[:,6])
    dic[k]=valores

In [12]:
# Calculamos SY para cada Y en 2**X
SY=[]
SY= Sy(dic,A)

In [ ]:
#Exportamos Sy a txt
for k in range(len(SY)):
    with open('output-tda/'+folder1+'/Seads/Sy{0}.txt'.format(k), 'w') as f:
        for line in SY[k]:
            f.write(f"{line}\n")

In [ ]:
#añadir un tab al final de cada linea de los reads
%%bash -s "$folder1"
ls output-tda/$1/SyReads/*.txt | while read file
do
perl -p -i -e 's/$/\t/' $file
done

In [ ]:
#extraer los reads de  de cada SY
%%bash -s "$folder1"
for line in output-tda/$1/SyReads/*.txt 
do
    bash 02-extract-reads-for-SY2.sh $1 $line
done

In [ ]:
#Calcular los depth de cada SY
%%bash -s "$folder1"
for line in output-tda/$1/sam_extract/*.bam
do
    base=$(basename ${line} .bam)
    samtools depth ${line} > output-tda/$1/depth/${base}.txt
done

In [11]:
#importar los depth
ruta_depth = '/home/shaday/GIT/clavibacter/scripts-tda/output-tda/'+folder1+'/depth/'
contenido_depth = os.listdir(ruta_depth)
contenido_depth

['Sy3-Simulados-subsp_capsici_1101_sorted.txt',
 'Sy4-Simulados-subsp_michi_contigs_sorted.txt',
 'Sy6-Simulados-subsp_michi_contigs_sorted.txt',
 'Sy5-Simulados-subsp_nebraskensis_61-1_sorted.txt',
 'Sy2-Simulados-subsp_nebraskensis_61-1_sorted.txt',
 'Sy1-Simulados-subsp_capsici_1101_sorted.txt',
 'Sy0-Simulados-subsp_michi_contigs_sorted.txt',
 'Sy6-Simulados-subsp_capsici_1101_sorted.txt',
 'Sy3-Simulados-subsp_nebraskensis_61-1_sorted.txt',
 'Sy2-Simulados-subsp_michi_contigs_sorted.txt',
 'Sy1-Simulados-subsp_michi_contigs_sorted.txt',
 'Sy5-Simulados-subsp_capsici_1101_sorted.txt',
 'Sy2-Simulados-subsp_capsici_1101_sorted.txt',
 'Sy6-Simulados-subsp_nebraskensis_61-1_sorted.txt',
 'Sy4-Simulados-subsp_capsici_1101_sorted.txt',
 'Sy3-Simulados-subsp_michi_contigs_sorted.txt',
 'Sy5-Simulados-subsp_michi_contigs_sorted.txt',
 'Sy0-Simulados-subsp_capsici_1101_sorted.txt',
 'Sy4-Simulados-subsp_nebraskensis_61-1_sorted.txt',
 'Sy0-Simulados-subsp_nebraskensis_61-1_sorted.txt',
 'Sy1-Simulados-subsp_nebraskensis_61-1_sorted.txt']

In [39]:
#Calculo de profundidades
dep=[]
for i in range(len(A)):
    globals()["Dep_Y{}".format(i)]=depth_Y2('Sy{0}'.format(i),A[i])
    dep.append(depth_Y2('Sy{0}'.format(i),A[i]))

In [40]:
dp = pd.DataFrame(dep,columns=dic_Organisms.values())
dp

         X1        X2        X3
0  1.355061  0.000000  0.000000
1  0.000000  1.007605  0.000000
2  0.251599  0.251560  0.000000
3  0.000000  0.000000  2.593790
4  0.449539  0.000000  0.440425
5  0.000000  0.258541  0.258459
6  0.118768  0.118800  0.118809

In [18]:
A

[['X1'],
 ['X2'],
 ['X1', 'X2'],
 ['X3'],
 ['X1', 'X3'],
 ['X2', 'X3'],
 ['X1', 'X2', 'X3']]

In [14]:
tiempo=[]
for col in dp:
    tiempo.extend(dp[col].unique().tolist())
    tiempo.sort()
tiempo=list(set(tiempo))
tiempo

[0.0,
 0.2515601861645864,
 0.11879989292260427,
 0.1187677984990415,
 0.11880918748094202,
 0.2515989217189069,
 0.25845883139352,
 0.25854054054054054,
 0.4404248929280267,
 0.44953883883350215,
 1.0076051253218121,
 2.593790478309586,
 1.3550605516762937]

In [53]:
# dp['Y']=A
# dp
dp

         X1        X2        X3
0  1.355061  0.000000  0.000000
1  0.000000  1.007605  0.000000
2  0.251599  0.251560  0.000000
3  0.000000  0.000000  2.593790
4  0.449539  0.000000  0.440425
5  0.000000  0.258541  0.258459
6  0.118768  0.118800  0.118809

In [56]:
t=tiempo[1]
t

0.2515601861645864

In [143]:
mat = dp.apply(lambda row: [i if i > .36 else 0 for i in row], axis=1)
mat

0                      [1.3550605516762937, 0, 0]
1                      [0, 1.0076051253218121, 0]
2                                       [0, 0, 0]
3                       [0, 0, 2.593790478309586]
4    [0.44953883883350215, 0, 0.4404248929280267]
5                                       [0, 0, 0]
6                                       [0, 0, 0]
dtype: object

In [144]:
mat = dp.apply(lambda row: np.nonzero([i if i > .36 else 0 for i in row])[0]+1, axis=1)
mat

0       [1]
1       [2]
2        []
3       [3]
4    [1, 3]
5        []
6        []
dtype: object

In [135]:
def distance(t,y):
    mat=dp.apply(lambda row: np.nonzero([i if i > t else 0 for i in row])[0]+1, axis=1)
    return mat[y]

In [136]:
distance(.2,2)

array([1, 2])

In [145]:
A

[['X1'],
 ['X2'],
 ['X1', 'X2'],
 ['X3'],
 ['X1', 'X3'],
 ['X2', 'X3'],
 ['X1', 'X2', 'X3']]

In [20]:
#dp.to_csv('CSV/Depth1TP.csv')

NameError: name 'B' is not defined

In [ ]:
#dp.loc[dp['Y']==[X1]]
#print(dp.loc[dp['Y'] == 'X2'])
#dp.loc

#dic={}
#l=0
tem=dp['Y'].tolist()
for k in tem:
    valores=list(dp.loc[dp.Y==k])
#    dic[k]=valores
#dp['Y'].tolist()

In [ ]:

    for y in A:
    k=1
    list(dp.loc[dp.Y==y].iloc[:,k])

In [55]:
A
#dp.reindex(A)

[['X1'],
 ['X2'],
 ['X1', 'X2'],
 ['X3'],
 ['X1', 'X3'],
 ['X2', 'X3'],
 ['X1', 'X2', 'X3']]

In [89]:
organisms=list(dic_Organisms.values())

In [102]:
set(organisms[0]).issubset(set(A[2]))

False

In [103]:
organisms[0]

'X1'

In [105]:
set(A[2])

{'X1', 'X2'}

In [114]:
xx=organisms[0]
#xx=set(xx)
xxx=set(A[2])
xx.issubset(xxx)

AttributeError: 'str' object has no attribute 'issubset'